---
import Card from "@/components/Card.astro";
import mockData from "@/data/mockData.json";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Dashboard</h1>
    <main class="grid">

      {mockData.map((mock) => <Card {...mock} />)}
    </main>
  </body>
</html>


<style>
  .grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
</style>
