---
import govData from "@/data/mockData.json";
import { SortableCards } from "@/components/SortableCards";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Dashboard</title>
  </head>
  <body class="container mx-auto">
    <h1 class="text-4xl my-8">Dashboard</h1>``
    <main class="grid grid-cols-fluid gap-4">
      <SortableCards govData={govData} client:load/>
    </main>
  </body>
</html>
