---
import govData from "@/data/mockData.json";
import { SortableCards } from "@/components/SortableCards";

export const prerender = false
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Dashboard</title>
  </head>
  <body class="container mx-auto">
    <main>
      <SortableCards govData={govData} client:load/>
    </main>
  </body>
</html>
